.profile {
  margin: 15px auto;
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  padding: 10px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
}
.avatar {
  width: 80%;
}

.stats {
  list-style: none;

  display: flex;
  justify-content: space-between;

  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
